/*this is the style sheet for the adminDashboard. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-size: 32px;
    margin-bottom: 50px;
    color: #003e3e;
    font-weight: bold;
}

.main-content {
    display: flex;
    flex-grow: 1;
    padding: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../images/defineRole/index.png');
}

button {
    background-color: #A62B1F;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    width: 200px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #A62B1F;
}