* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; font-family: Arial, sans-serif; }

.table-header {
    font-size: 24px;
    color:#015c5d;
    margin-bottom: 30;
    margin-right: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: sans-serif;
    margin-top: 20px;
}

thead {
    background: #33333310;
    color: #fff;
}

td, td {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background: #f9f9f959;
}

tr:nth-child(odd) {
    background: #ffffffc0;
}

tr:hover {
    background: #015c5d39;
}

.prescription-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 2s ease;
}

.prescription-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.prescription-btn:active {
    transform: scale(0.95);
}

.noPatientRecord {
    font-size: 16px;
    font-style: italic;
    color: gray;
}

.today-btn {
    margin-right: 10px;
    padding: 10px;
    background-color: #015c5d;
}

.date-picker {
    margin-left: 10px;
    margin-top:13px;
    border-radius: 8px;
    padding: 10px;
    height: 30px;
}